@import url(https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Quicksand:400,700);

body {
    font-family: 'Lato', sans-serif;
    color: #333;
    font-size: 12px !important;
    font-weight: 400;
    line-height: 25px;
}

h1 {
    font-size: 30px;
    text-align: center;
    position: relative;
    padding-bottom: 15px;
    margin: 0px 0 15px;
    font-weight: bold;
}

h2 {
    font-size: 26px;
    margin: 30px 0 20px;
    text-align: center;
    padding-bottom: 15px;
    position: relative;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 18px;
}

h1, h2, h3, h4 {
    color: #841618;
}

table {
    font-size: 11px;
}

.page-title {
}

.padding-zero {
    padding: 0 !important;
}

.margin-zero {
    margin: 0 !important;
}

.container {
    width: auto;
    max-width: 1400px;
}

h1:after {
    content: "";
    display: block;
    position: absolute;
    width: 50px;
    height: 2px;
    background: #841618;
    left: 0;
    right: 0;
    bottom: 5px;
    margin: 0 auto;
}

.productList h1:after {
    height: 0px !important;
}

h2:after {
    content: "";
    display: block;
    position: absolute;
    width: 50px;
    height: 2px;
    background: #841618;
    left: 0;
    right: 0;
    bottom: 5px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #841618;
}

.margin-bottom {
    margin-bottom: 15px;
}

.active {
    background: #841618 !important;
    color: #FFF !important;
}

.side-active {
    background: #FFF !important;
    color: #333 !important;
}

/* Bootstrap Css */
.navbar {
    margin: 20px 0px;
    border: 0;
    border-top: 1px solid #841618;
    border-bottom: 1px solid #841618;
}

.navbar-default {
    background-color: #841618;
}

.nav > li > a {
    padding: 5px 10px;
    font-weight: 700;
    text-transform: uppercase;
}

h2.resp-accordion {
    border-top: 1px solid #841618;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: white !important;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #333;
    background-color: transparent;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #FFF;
    background-color: #841618;
}

.dropdown-menu {
    border-top: 2px solid #841618;
    padding: 0px 0;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #FFF;
    background-color: #841618;
}

.dropdown-menu > li > a {
    padding: 10px 20px;
}

/* Style css */

#header {
}

#top-line {
}

.logo-header {
    background: #841618;
}

.slider-text {
    font-weight: 700;
    color: #841618;
    background: #FFF;
    padding: 10px;
    width: 80% !important;
    font-size: 38px;
}

#parentHorizontalTab {
    margin-top: 30px;
}

.red-more a {
    margin: 20px 0;
    border: 1px solid #841618;
    padding: 5px 30px;
    display: inline-block;
}

.gray-bg {
    background: #f3f3f3;
    padding-bottom: 15px;
}

.tab-h4 {
    padding: 5px;
    background: #841618;
    color: #fff;
    text-align: center;
}

.contact-us {
    background: #841618;
    padding: 15px 0;
}

.contact-us h3 {
    text-align: center;
    color: #fff;
    font-size: 28px;
    letter-spacing: 5px;
    margin: 2px 0 0;
    display: block;
}

.navbar-toggle {
    float: left;
}

.contact-btn a {
    background: #fff;
    text-align: center;
    border-radius: 5px;
    color: #841618;
    padding: 7px 10px;
    display: block;
    font-size: 20px;
}

.btn {
    background: #eee;
    background-image: linear-gradient(to bottom, #ffffff63, #f5f5f5);
    color: black;
}

.btn:hover {
    background: #eee;
    background-image: linear-gradient(to bottom, #ffffff63, #f5f5f5);
    color: black;
}

#footer {
    color: #f1efef;
    font-size: 12px;
    background: url('../images/footer-bg.jpg') no-repeat;
    background-size: cover;
}

#footer a {
    color: #f1efef;
}

#footer h4 {
    color: #f1efef;
    margin-bottom: 20px;
}

#footer h3 {
    color: #f1efef;
}

.footer-bg {
    background: rgba(0, 0, 0, 0.8);
    padding: 20px 0px 0px;
}

.icon {
    padding-right: 8px;
    font-size: 20px;
    display: table-cell;
    vertical-align: middle;
}

.glyphicon {
    transition: all 1s ease 0s;
}

.glyphicon:hover {
    transform: rotateY(360deg);
}

.padding-left {
    padding-left: 30px;
}

.copy-right {
    padding: 10px;
    border-top: 1px solid #fff;
}

.footer-logo {
    text-align: center;
}

.footer-logo img {
    margin: 0 auto;
}

.left-side {
    text-align: center;
}

.right-side {
    text-align: center;
}

.inner-left-link {
    background: #3e3e3e;
    margin: 0 0 30px 0;
}

.inner-content {
    padding: 20px;
    background: #FFF;
}

.inner-left-link h2 {
    margin: 0;
    background: #841618;
    padding: 15px;
    color: #FFF;
}

.inner-left-link ul li a:hover {
    text-decoration: none;
    background: #FFF;
    color: #333;
}

.inner-left-link ul li a {
    color: #FFF;
    padding: 10px 15px;
    display: inline-block;
    width: 100%;
}

.gray-box {
    background: #f3f3f3;
    padding: 15px;
}

.archivment img {
    margin: 0 auto;
}

.archivment p {
    text-align: center;
}

.client-box {
    border: 1px solid #e2e2e2;
    margin-bottom: 30px;
}

.client-box:hover {
    border: 1px solid #841618;
    transition: all 0.5s ease-in;
}

@media (min-width: 768px) {
    .margin-bottom {
        margin-bottom: 30px;
    }

    .gray-bg {
        padding: 15px;
    }

    .red-more a {
        margin: 0;
    }

    .contact-us h3 {
        text-align: left;
    }

    .side-border {
        border-right: 2px dotted #999;
    }

    .contact-us {
        padding: 20px;
    }

    #footer h4 {
        margin-bottom: 50px;
    }

    .footer-bg {
        padding: 50px 0px 0px;
    }

    .left-side {
        float: left;
    }

    .right-side {
        text-align: right;
    }

    h2.resp-accordion {
        border-top: 0px solid #841618;
    }

}

@media (min-width: 992px) {
    .gray-bg {
        padding: 30px;
    }

    .v-middle {
        float: none;
        display: inline-block;
        vertical-align: middle;
        margin-right: -4px;
    }

    .nav > li > a {
        padding: 15px;
    }
}

@media (min-width: 1200px) {

}

.dd-inner {
    text-align: center;
    padding: 20px;
    margin: 16px;
    background-color: #FFF;
    white-space: nowrap;
    font-size: 12px;
}

.dropdown1 {
    width: auto;
    left: 0px;
    color: #000;
    padding: 0;
    margin: 0;
    display: none;
    position: absolute;
    overflow: hidden;
    top: 100%;
    border: 1px solid rgba(255, 255, 255, 0.35);
    border-top: none;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.2);
    background-color: #ccc \9; /*fallback for old IE*/
}

.column {
    text-align: left;
    vertical-align: top; /*or middle*/
    display: inline-block;
    *display: inline;
    *zoom: 1;
    white-space: normal;
    width: auto;
    min-width: 200px;
    padding: 0 30px;
    border-right: 1px solid #999;
}

.homepagecssproduct {
    height: 300px;
    background-color: #eee;
    border-width: 3px
}

.quote-badge {
    background-color: rgba(0, 0, 0, 0.2);
}

.quote-box {

    overflow: hidden;
    margin-top: -50px;
    padding-top: -100px;
    border-radius: 17px;
    background-color: #eee;
    margin-top: 25px;
    color: white;
    box-shadow: 2px 2px 2px 2px #E0E0E0;

}

.quotation-mark {
    margin-top: 18px;
    font-weight: bold;
    font-size: 38px;
    color: white;
}

.quote-text {
    font-size: 18px;
    margin-top: 0px;
    color: black;
    font-weight: 400;
    text-align: justify;
}

.titleCustomForInnerContent {
    color: black;
    font-weight: bold;
    font-size: 22px;
    padding: 6px 3px 4px 0px;
    bottom: 55px;
}

.grid-title {
    color: #022e5f;
    text-shadow: 1px 1px 3px #ADADAD;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 600;
    margin: 0 0 10px 0;
    width: 70%;
}

.grid-image {
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
}

.grid-image img {
    float: right;
}

.grid-section {
    display: block;
    overflow: hidden;
}

.grid-usp {
    font-size: 0.95em;
    line-height: 1.4em;
    width: 70%;
    margin: 8px 0 0 0;;
    padding: 0;
}

.grid-btn {
    width: 100%;
    position: absolute;
    bottom: 6px;
}

.grid-content {
    position: relative;
    height: 170px;
}

.grid-table {
    border: none;
    width: 100%;
    margin: 0 0 0 0;
}

td.grid-td {
    border: 1px double #acacac;
    height: 180px;
    width: 49%;
    float: left;
    margin: 0 1% 1% 0;
    padding: 10px 0px 0px 10px;
    border-radius: 5px;
}

.grid-td-last {
    height: 180px;
    width: 44%;
    float: left;
    margin: 0 2% 2% 0;
    border: none;
}

.small-info {
    font-size: 1em; /* = 18px */
    font-weight: 500;
    text-shadow: 1px 1px 1px #ADADAD;
    color: #022e5f;
    max-width: 60%;
}

.button {
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    border: 1px solid #dddddd;
    border-radius: 2px;
    color: #333333;
    cursor: pointer;
    display: inline-block;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f9f9f9, endColorstr=#f1f1f1);
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    margin: 0;
    padding: 4px 10px;
    text-decoration: none;
    text-shadow: 0 1px 0 #ffffff;
    vertical-align: middle;
    white-space: nowrap;
}

a.blue {
    background-color: #1874cd;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#4f9eea), to(#1874cd));
    background-image: -webkit-linear-gradient(top, #4f9eea, #1874cd);
    background-image: -moz-linear-gradient(top, #4f9eea, #1874cd);
    background-image: -ms-linear-gradient(top, #4f9eea, #1874cd);
    background-image: -o-linear-gradient(top, #4f9eea, #1874cd);
    background-image: linear-gradient(top, #4f9eea, #1874cd);
    border: 1px solid #115290;
    color: #ffffff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4f9eea, endColorstr=#1874cd);
    text-shadow: 0 -1px 0 #115290;
}

/* tablet landscape */
@media all and (max-width: 1024px) and (min-width: 768px) {

    .resultWrapper {
        width: 42% !important;
    }

    #CalculationCounter, .learnMoreWrapper {
        width: 100% !important;
        float: left;
        text-align: center;
    }

    .oilPriceWrapper, .electricityPriceWrapper {
        width: 100% !important;
    }

    .columns.costTodayWrapper, .columns.newCostyWrapper {
        width: 25% !important;
    }

    #content {
        margin-top: 10px;
    }

    .col-520 {
        width: 50%;
        margin-top: -15px;
    }

    #frontpageheaderright {
        width: 47%;
    }

    td.grid-td {
        width: 49%;
    }

    .grid-title {
        font-size: 1.25em;
    }

    .menu a {
        font-size: 12px;
    }

    .topimage {
        width: 95%;
    }

    .product-content {
        float: right;
    }
}

/* phone portrait larger and landscape */
@media all and (max-width: 768px) and (min-width: 480px) {

    .oilPriceWrapper, .electricityPriceWrapper {
        width: 100% !important;
    }

    .columns.costTodayWrapper, .columns.newCostyWrapper {
        width: 50% !important;
        margin: 0 !important;
        text-align: center;
    }

    .resultWrapper {
        width: 100% !important;
        margin: 10px 0 0 0 !important;
    }

    .footer .calculationLabel {
        margin: 0;
    }

    #container {
        padding: 0px 5px;
    }

    #content {
        margin-top: 0px;
    }

    #widgets {
        margin-top: 10px;
    }

    #wrapper {
        padding: 0 10px 20px 10px;
    }

    #widgets li {
        font-size: 0.75em;
    }

    .menu a {
        font-size: 9px;
    }

    td.grid-td {
        width: 100%;
    }

    h1 {
        font-size: 1.5em;
    }

    h4 {
        font-size: 1.25em;
    }

    h5, h5.row {
        font-size: 0.9em;
    }

    .col-380 {
        width: 38%;
    }

    div.link a {
        font-size: 8px;
    }

    .grid-title {
        font-size: 1.25em;
    }

    #bg {
        background-size: 110px;
    }

    .product-image {
        margin: 5px 10px 8px 5px;
        width: 23%;
        float: left;
    }

    .product-content {
        margin: 10px 0 0 10px;
        width: 91%;
        position: relative;
        float: none;
    }

    .product-accordian {
        margin: 15px 0 0 10px;
        width: 95%;
    }

    .tekniskfakta p {
        font-size: 8px;
    }

    #widgets .textwidget a.kom-products-title {
        font-size: 0.8em;
        font-weight: 500;
    }
}

@media (max-width: 760px) {
    .rightmap .mapHolder {
        display: none;
    }

    .rightmap #ListContainer {
        width: 100%;
    }
}

/* phone portrait */

@media all and (max-width: 1300px) {
    .grid-image img {
        max-width: 80px;
        max-height: 160px;
    }
}

@media all and (max-width: 480px) {

    #CalculationCounter, .learnMoreWrapper {
        width: 100% !important;
        float: left;
        text-align: center;
    }

    .oilPriceWrapper, .electricityPriceWrapper {
        width: 100% !important;
    }

    .columns.costTodayWrapper, .columns.newCostyWrapper {
        width: 100% !important;
    }

    #frontpageheaderleft {
        width: 100%;
        float: left;
    }

    #frontpageheaderright {
        width: 100%;
    }

    #wrapper {
        padding: 0 20px 20px 10px;
    }

    #content {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .col-60, .col-140, .col-220, .col-300, .col-380, .col-420, .col-460, .col-520, .col-540, .col-620, .col-700, .col-780, .col-860 {
        width: 100%;
    }

    .frontpage-banners img {
        width: 93%;
    }

    td.grid-td {
        width: 100%;
    }

    td.grid-td-last {
        display: none;
    }

    .tekniskfakta p {
        font-size: 7px;
    }

    #container {
        padding: 0px 5px;
    }

    input#s.field {
        width: 100%;
    }

    .searchinheader {
    }

    form#searchform {
    }

    h1 {
        font-size: 1.5em;
    }

    h3 {
        font-size: 1.25em;
    }

    .grid-title {
        font-size: 1.25em;
    }

    .search-field-mobile {
        width: 135px;
    }

    .topimage {
        width: 95%;
        margin-top: 0px;
    }

    #bg {
        background-size: 75px;
    }

    .product-image {
        margin: 0px 5px 8px 0px;
        width: 30%;
        float: left;
    }

    .product-content {
        margin: 15px 0 0 5px;
        width: 95%;
        position: relative;
        float: none;
    }

    .product-accordian {
        margin: 15px 0 0 5px;
        width: 97%;
    }

    div.su-spoiler-content.su-clearfix {
        padding: 5px 5px 5px 5px;
    }
}

.fa {
    font-size: small !important;
    padding: 15px 7px 3px 7px;
}